## 1. Read the dataset

#### a. Import data

In [1]:
import pandas as pd
data = pd.read_json('/Users/celine/Desktop/5430nlp/group/deduplicated_reviews.json', lines = True)
print(data.shape[0])

123861

In [2]:
pd.set_option('display.max_columns', None)
data.head()

,business_id,address,attributes,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state,cool,date,funny,review_id,customer_review_stars,text,useful,user_id,language
0,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,"Row(AcceptsInsurance=None, AgesAllowed=None, A...","Restaurants, Cheesesteaks, Sandwiches, Steakho...",Philadelphia,"Row(Friday='0:0-0:0', Monday='0:0-0:0', Saturd...",1,39.91579,-75.165388,Oregon Steaks,19148,184,3.5,PA,0,2019-08-06,0,0,5,after several ppl telling me to order from thi...,0,VUFb5monKirGUv7o98rQXQ,en
1,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,"Row(AcceptsInsurance=None, AgesAllowed=None, A...","Restaurants, Cheesesteaks, Sandwiches, Steakho...",Philadelphia,"Row(Friday='0:0-0:0', Monday='0:0-0:0', Saturd...",1,39.91579,-75.165388,Oregon Steaks,19148,184,3.5,PA,0,2019-06-01,1,1,4,The cheeseburgers are greasy goodness. Located...,1,s_iMmN729A58i9sk4BLClg,en
2,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,"Row(AcceptsInsurance=None, AgesAllowed=None, A...","Restaurants, Cheesesteaks, Sandwiches, Steakho...",Philadelphia,"Row(Friday='0:0-0:0', Monday='0:0-0:0', Saturd...",1,39.91579,-75.165388,Oregon Steaks,19148,184,3.5,PA,1,2019-07-20,1,953,4,"In my humble opinion, they cut their steak too...",2,_i3uTqtUfyVZDryKzUGGiw,en
3,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,"Row(AcceptsInsurance=None, AgesAllowed=None, A...","Restaurants, Cheesesteaks, Sandwiches, Steakho...",Philadelphia,"Row(Friday='0:0-0:0', Monday='0:0-0:0', Saturd...",1,39.91579,-75.165388,Oregon Steaks,19148,184,3.5,PA,0,2019-12-04,0,955,3,Overall this place was a little disappointing ...,0,EO4goAgwcbaRx3x-eQf4dg,en
4,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,"Row(AcceptsInsurance=None, AgesAllowed=None, A...","Restaurants, Cheesesteaks, Sandwiches, Steakho...",Philadelphia,"Row(Friday='0:0-0:0', Monday='0:0-0:0', Saturd...",1,39.91579,-75.165388,Oregon Steaks,19148,184,3.5,PA,0,2019-11-14,0,956,4,Perfect place for a hot Philly cheesesteak wit...,0,kV3YVK6v8GSggxeBCl1sRw,en

#### b. Select necessary columns only

In [3]:
# Selecting specific columns
selected_columns = ['business_id', 'address', 'name','postal_code', 'stars', 'review_id', 'text','useful','customer_review_stars']

# Creating a new DataFrame with selected columns
df = data[selected_columns].copy()

#### c. Tokenize text column and remove stopwords

In [4]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords

tokenizer = RegexpTokenizer(r'\w+')
stop_words = set(stopwords.words('english'))
df['tokenize_text'] = df['text'].apply(lambda x: [token for token in tokenizer.tokenize(x.lower()) if token.lower() not in stop_words])
df.head()

,business_id,address,name,postal_code,stars,review_id,text,useful,customer_review_stars,tokenize_text
0,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,0,after several ppl telling me to order from thi...,0,5,"[several, ppl, telling, order, place, finally,..."
1,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,1,The cheeseburgers are greasy goodness. Located...,1,4,"[cheeseburgers, greasy, goodness, located, cor..."
2,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,953,"In my humble opinion, they cut their steak too...",2,4,"[humble, opinion, cut, steak, thickly, thin, e..."
3,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,955,Overall this place was a little disappointing ...,0,3,"[overall, place, little, disappointing, heard,..."
4,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,956,Perfect place for a hot Philly cheesesteak wit...,0,4,"[perfect, place, hot, philly, cheesesteak, fix..."

#### d. Add a column with the number of tokenized words

In [5]:
df['text_length'] = df['tokenize_text'].apply(len)
df.head()

,business_id,address,name,postal_code,stars,review_id,text,useful,customer_review_stars,tokenize_text,text_length
0,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,0,after several ppl telling me to order from thi...,0,5,"[several, ppl, telling, order, place, finally,...",34
1,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,1,The cheeseburgers are greasy goodness. Located...,1,4,"[cheeseburgers, greasy, goodness, located, cor...",19
2,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,953,"In my humble opinion, they cut their steak too...",2,4,"[humble, opinion, cut, steak, thickly, thin, e...",15
3,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,955,Overall this place was a little disappointing ...,0,3,"[overall, place, little, disappointing, heard,...",95
4,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,956,Perfect place for a hot Philly cheesesteak wit...,0,4,"[perfect, place, hot, philly, cheesesteak, fix...",53

## 2. Split reviews into positive, neutral and negative

In [6]:
positive_review = df[df['customer_review_stars'] > 3]
neutral_review = df[df['customer_review_stars'] == 3]
negative_review = df[df['customer_review_stars'] < 3]

print(positive_review.shape[0])
print(neutral_review.shape[0])
print(negative_review.shape[0])

89707
12008
22146

In [7]:
positive_review.head()

,business_id,address,name,postal_code,stars,review_id,text,useful,customer_review_stars,tokenize_text,text_length
0,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,0,after several ppl telling me to order from thi...,0,5,"[several, ppl, telling, order, place, finally,...",34
1,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,1,The cheeseburgers are greasy goodness. Located...,1,4,"[cheeseburgers, greasy, goodness, located, cor...",19
2,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,953,"In my humble opinion, they cut their steak too...",2,4,"[humble, opinion, cut, steak, thickly, thin, e...",15
4,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,956,Perfect place for a hot Philly cheesesteak wit...,0,4,"[perfect, place, hot, philly, cheesesteak, fix...",53
5,RI33oswGDkIsc0fuQ8GzjA,2654 S 10th St,Oregon Steaks,19148,3.5,957,I just ate here again after some time and I wa...,0,5,"[ate, time, even, better, remembered, cheesest...",29

## 3. For each business, select the top 20 most representative text

#### a. Sort the dataframe based on useful and length of text

##### Reasons: useful represents the number of likes by other users that find this review useful. However, many business does not have 20 voted for useful. Thus, we want to select the reviews with more words as useful.
##### Assumption: The longer the review, the more representative it is.

In [8]:
positive_review = positive_review.sort_values(by=['business_id', 'useful', 'text_length'], ascending=[False, False, False])
neutral_review = neutral_review.sort_values(by=['business_id', 'useful', 'text_length'], ascending=[False, False, False])
negative_review = negative_review.sort_values(by=['business_id', 'useful', 'text_length'], ascending=[False, False, False])

positive_review.head()

,business_id,address,name,postal_code,stars,review_id,text,useful,customer_review_stars,tokenize_text,text_length
100525,zz3E7kmJI2r2JseE6LAnrw,1122 Washington Ave,Hung Vuong Super Market,19147,3.5,110696,I've been coming to this super market for god ...,3,4,"[coming, super, market, god, knows, long, grow...",123
100515,zz3E7kmJI2r2JseE6LAnrw,1122 Washington Ave,Hung Vuong Super Market,19147,3.5,105868,"5 - for selection\n3 - for the price, some pac...",2,4,"[5, selection, 3, price, packaged, items, like...",113
100513,zz3E7kmJI2r2JseE6LAnrw,1122 Washington Ave,Hung Vuong Super Market,19147,3.5,105847,This is one of the Asian super markets that my...,2,4,"[one, asian, super, markets, family, gone, qui...",87
100514,zz3E7kmJI2r2JseE6LAnrw,1122 Washington Ave,Hung Vuong Super Market,19147,3.5,105848,Parking parking parking is always a problem in...,2,4,"[parking, parking, parking, always, problem, s...",31
100517,zz3E7kmJI2r2JseE6LAnrw,1122 Washington Ave,Hung Vuong Super Market,19147,3.5,105871,Freshest market out of all the south Philly As...,0,5,"[freshest, market, south, philly, asian, marke...",85

#### b. Find the top 20 reviews for each business' subset reviews

###### 1. Positive

In [9]:
# Rank reviews for each business based on the value of useful
positive_review['useful_rank'] = positive_review.groupby('business_id')['useful'].rank(ascending=False, method='min')
positive_review['positive_review_count'] = positive_review.groupby('business_id')['review_id'].transform('count')
positive_review['useful_positive_review_count'] = positive_review.groupby('business_id')['useful'].transform(lambda x: (x > 0).sum())
print(positive_review.shape)

positive_review = positive_review[positive_review['useful_rank'] <= 20]
print(positive_review.shape)

# Group by 'business_id' and aggregate other columns using 'first()'
grouped_positive_df = positive_review.groupby('business_id').agg({
    'address': 'first',
    'name': 'first',
    'postal_code': 'first',
    'stars': 'first',
    'text': lambda x: ' '.join(x),  # Aggregating the 'text' column as before
    'positive_review_count': 'first',
    'useful_positive_review_count': 'first'
}).reset_index()

grouped_positive_df['text_length'] = grouped_positive_df['text'].apply(len)
grouped_positive_df = grouped_positive_df.sort_values('text_length', ascending = False)
print(grouped_positive_df.shape)
grouped_positive_df.head(30)

(89707, 14)
(47074, 14)
(2258, 9)

,business_id,address,name,postal_code,stars,text,positive_review_count,useful_positive_review_count,text_length
265,6_T2xzR74JqGCTPefAD8Tw,723 Chestnut St,Morimoto,19106,4.5,It's good to see that a place like Morimoto is...,170,82,48393
2057,u0Bt7uvvj7LAjAdiMtrhug,1301 N Howard St,Laser Wolf,19122,4.5,@nommingnomad approved.\n\nWhen I heard that M...,121,75,46371
41,05ev984NYfimRN0UiFrxaA,640 N Broad St,Osteria,19130,4.0,If you're looking for possibly the best happy ...,144,52,45081
750,Jg9kkOl4sx2AXJVohbpSiw,1140 S 9th St,South Philly Barbacoa,19147,4.5,"As an avid fan of food documentaries, South Ph...",298,129,43104
2148,wUnLSg_GKfEIQ5CQQ770_g,1312 Spruce St,Vetri Cucina,19107,4.5,Vetri has been on the list for a while. I am g...,75,42,43078
423,AlxnbBd2JNkozNvI0OvRLQ,202 E Girard Ave,Murph's Bar,19125,4.0,What in the world. Irish pub that serves bomb ...,111,50,42107
62,0mijbNf-7wiKJ9xto1pAyg,220 S 17th St,Spice Finch,19103,4.5,This is certainly one of my new favorite resta...,167,60,41000
1447,ctHjyadbDQAtUFfkcAFEHw,237 St James Pl,Zahav,19106,4.5,Zahav was named best restaurant in America on ...,412,124,40335
116,2CDI713ATuxHfnB5b-sBdw,1221 Locust St,Vedge,19107,4.5,A solid Friday night date night!\n\nCame here ...,197,88,40088
1882,of-GVqY0G_UDHXT9Xg_ADQ,131 S 13th St,Charlie Was a Sinner,19107,4.0,We stopped here for a drink after having dinne...,215,105,38855
194,4R2KR_-FybS7oegGrXjHVg,1428-1432 Chestnut St,Del Frisco's Double Eagle Steakhouse,19102,4.0,First time experience and most impressed I was...,144,58,38285
110,1vPSY4EA-fTRIZYz1Ruzow,110 S 19th St,K'Far Cafe,19103,4.5,In addition to the lockdown/SIP and eschewing ...,308,209,38222
795,KrKQChZ1hwHHVaUK9Zc-Ag,1150 Market St,Iron Hill Brewery & Restaurant,19107,4.0,With just a short walk away front our hotel we...,169,55,38160
1633,hyFzDuyOWNG2rg5GYJ2wiQ,116 S 13th St,Alpen Rose,19107,4.5,I made a reservation for this place as soon as...,113,71,37980
622,G2oWC7vWPTiTZt--0bUMzA,764 S 9th St,Kalaya,19147,4.5,"My family can be hard to please, if they're co...",206,145,37105
990,QhgrhVKlXZtSY6gRThf8zA,1648 E Passyunk Ave,Bing Bing Dim Sum,19148,4.0,This was the best meal we had while visiting P...,123,48,36791
1894,p-MSh95si_sDdih94gyKuw,233 Chestnut St,Forsythia,19106,4.5,Birthday Dinner Review!\n\nDespite living on E...,108,72,36785
825,LizaSXXtaPjbxGtwo_rw9Q,613 E Passyunk Ave,Gnocchi,19147,4.0,"If I could add an extra half star I would, so ...",70,16,36525
1746,ktM6aYuzqWd-kA8SIWswiQ,4266 Main St,Winnie's Manayunk,19127,3.5,My lady and I absolutely loved the food here f...,73,13,36349
2118,vhDWGF-8BfsxvS7Zo5Wv2w,1623 Sansom St,Abe Fisher,19103,4.5,#29 on Eater Philadelphia's 38 Essential Resta...,133,75,35684
484,C9UylQTOh7uwZo4a7QhLyg,261 S 21st St,Friday Saturday Sunday,19103,4.5,"tl;dr a sophisticated bi-level eatery, showcas...",106,57,35501
1656,i_FWONQD1ZBqrNE2b-M5Ug,210 W Washington Sq,Talula's Garden,19106,4.5,Dotting the sidewalk east of Washington Square...,388,136,35486
2159,woTZpX92uByUgliPrh39Mg,124 S 15th St,Ocean Prime,19102,4.0,"(to the tune of ""One More Time"" by Daft Punk)\...",100,39,35223
797,KscVqYYG7ziAroZhfNb0Ng,600 N Broad St,South,19130,4.0,I have been to South for happy hour several ti...,141,74,35145
2060,u3aN2A8Lo9odMCYjaphjLA,2244 Fairmount Ave,A Mano,19130,4.5,Oh this BYOB is the true definition of a hidde...,50,18,35063
1963,qnprJxrjwuEivitA8V2aEQ,817 Christian St,Fiorella,19147,4.5,My friend and I came to Fiorella recently as p...,107,65,34866
719,Iw8uqNPxviwcgxtruAx_LA,224 S 15th St,Good Dog Bar,19102,4.0,"After a long day of sight seeing, it was time ...",105,48,34388
939,P2Lm1g_RztvIaH4daQsXoQ,9645 James St,Three Monkeys Cafe,19114,3.5,Came cross Three Monkeys cafe while on Yelp lo...,83,15,34386
303,7mpYTDb24SywNMRn3yeakQ,509 S 2nd St,The Twisted Tail,19147,4.0,"This review uses the word ""delicious"" many tim...",91,36,33719
251,6CUkqed0rhHtFwQ2i7Otsw,1709 E Passyunk Ave,Barcelona Wine Bar Passyunk,19148,4.5,What a great place! \n\nOur first visit was wi...,222,91,33691

###### 2. Neutral

In [10]:
# Rank reviews for each business based on the value of useful
neutral_review['useful_rank'] = neutral_review.groupby('business_id')['useful'].rank(ascending=False, method='min')
neutral_review['neutral_review_count'] = neutral_review.groupby('business_id')['review_id'].transform('count')
neutral_review['useful_neutral_review_count'] = neutral_review.groupby('business_id')['useful'].transform(lambda x: (x > 0).sum())
print(neutral_review.shape)

neutral_review = neutral_review[neutral_review['useful_rank'] <= 20]
print(neutral_review.shape)

# Group by 'business_id' and aggregate other columns using 'first()'
grouped_neutral_df = neutral_review.groupby('business_id').agg({
    'address': 'first',
    'name': 'first',
    'postal_code': 'first',
    'stars': 'first',
    'text': lambda x: ' '.join(x),  # Aggregating the 'text' column as before
    'neutral_review_count': 'first',
    'useful_neutral_review_count': 'first'
}).reset_index()

grouped_neutral_df['text_length'] = grouped_neutral_df['text'].apply(len)
grouped_neutral_df = grouped_neutral_df.sort_values('text_length', ascending = False)
print(grouped_neutral_df.shape)
grouped_neutral_df.head(30)

(12008, 14)
(11527, 14)
(1961, 9)

,business_id,address,name,postal_code,stars,text,neutral_review_count,useful_neutral_review_count,text_length
431,CYSPKiVdoPX3erovujnE9Q,1525 Sansom St,Harp & Crown,19102,4.0,Harp & Crown is a cute restaurant downtown Phi...,51,19,42428
1830,vUrTGX_7HxqeoQ_6QCVz6g,1528 Frankford Ave,Suraya,19125,4.5,"Beautiful decor, great seating arrangements wi...",52,17,36420
1599,nIAbuktMEzVjT4P9pG89rQ,325 Chestnut St,Buddakan,19106,4.0,Ugh... I have been dreading leaving this revie...,34,17,36227
234,6_T2xzR74JqGCTPefAD8Tw,723 Chestnut St,Morimoto,19106,4.5,"Due to lack of things to do, I've really dug d...",33,14,34667
631,Ipkx4Sa7ybn8C6LtTqTztw,120 S 13th St,Double Knot,19107,4.5,"Definitely an intimate and dark setting, keep ...",42,19,33748
47,0RuvlgTnKFbX3IK0ZOOocA,212 S 13th St,Green Eggs Café,19107,4.0,It was my first time visiting Philadelphia so ...,58,18,32809
1912,y8gjlpJA89qDRCLC0JQaew,1523 Sansom St,Giuseppe & Sons,19102,4.0,I have been looking forward to trying Giuseppe...,29,17,30977
1635,of-GVqY0G_UDHXT9Xg_ADQ,131 S 13th St,Charlie Was a Sinner,19107,4.0,"100% vegan cocktail bar, offering small plates...",31,12,30452
1449,iksVwRfpWymIUUFqw0tXpw,146 N 10th St,Chubby Cattle,19107,4.5,Service was horrible here. I had never been to...,44,9,30279
1116,ZKPrXH_GNW_AtZ31tP3NmA,3420 Sansom St,White Dog Cafe,19104,4.0,tl;dr an eccentric dog-themed eatery with upsc...,38,17,29264
1755,sV6up2rehuTegmfo3uYUtA,990 Filbert St,City Winery - Philadelphia,19107,2.5,Philly has too many intimate music venues- sai...,33,17,29113
1051,WxB8498ejPtHE7wFa89_fA,1801 Chestnut St,The Continental Mid-town,19103,3.5,"I dated a fit model once. Yes, you should goog...",39,16,28487
20,-cEFKAznWmI0cledNOIQ7w,1716 Chestnut St,Gran Caffe L'Aquila,19103,4.5,This review is just for the gelato. My husband...,34,16,28114
1677,q-zV08jt6U-q05SMEuQJAQ,39 E Oregon Ave,The Original Tony Lukes,19148,4.0,Maybe I ordered the wrong cheesesteak (hoagie)...,43,12,27524
667,JrG4NINLspXPNhSXg7Q07Q,1253 N Front St,Front Street Cafe,19122,4.0,3.5 stars due to comfort. I have only been her...,41,13,27340
60,0mijbNf-7wiKJ9xto1pAyg,220 S 17th St,Spice Finch,19103,4.5,Hit or miss - let me start with the misses - ...,24,17,26304
1758,sb8-TzsXOV7IsErbpHZo3g,"212 Walnut St, Fl 2",Positano Coast by Aldo Lamberti,19106,3.5,Looking for brunch places we came across this ...,33,15,25738
1242,cGX-1IUwXOjkUqZbkKYcjw,1337 Chestnut St,Fogo de Chao,19107,4.0,I wanted to try one restuarant during Philly's...,30,18,25503
1264,ctHjyadbDQAtUFfkcAFEHw,237 St James Pl,Zahav,19106,4.5,The entry into Zahav's world is so low key tha...,28,12,24936
184,4rG4tJF2EC2CfYvBu_uqpQ,627 S 3rd St,Cry Baby Pasta,19147,3.5,My friends and I had dinner at Cry Baby Pasta ...,31,17,24895
1509,kZ1q0K13tFYG_ZJrVvsJHA,124 S 13th St,Sampan,19107,4.0,I'll start with some of the good in the order ...,30,7,24337
170,4R2KR_-FybS7oegGrXjHVg,1428-1432 Chestnut St,Del Frisco's Double Eagle Steakhouse,19102,4.0,Came here for a dinner with my husband. It was...,23,12,24088
235,6ajnOk0GcY9xbb5Ocaw8Gw,110 S 13th St,Barbuzzo,19107,4.5,"Barbuzzo, all the reviews & stars? I had dream...",50,21,23465
1511,kbXpjBSweedxQ1WrlJ5i7Q,126 S 16th St,Dan Dan,19102,4.0,Takeout/delivery review \n\nOrdered the Mapo T...,39,12,22642
1435,iUZEGx29miZObLd6_lt7Vg,1804 Callowhill St,Sabrina's Café,19130,4.0,This was one of the must try places in Philade...,38,12,22458
1007,VP8HMhVt-pKmqGNmDW4-TQ,218 N 13th St,Nom Wah Philadelphia,19107,4.0,Came here on a Saturday for dim sum. I called ...,28,17,22246
1695,qQO7ErS_RAN4Vs1uX0L55Q,116 Market St,The Franklin Fountain,19106,4.0,"Good, but I wouldn't describe as top tier. ..3...",38,16,21933
831,PP3BBaVxZLcJU54uP_wL6Q,1237 E Passyunk Ave,Pat's King of Steaks,19147,3.0,Pat's King of Steaks was a place that I had no...,93,36,21865
626,IkY2ticzHEn4QFn8hQLSWg,1219 S 9th St,Geno's Steaks,19147,2.5,Well in Philadelphia of course you have to do ...,90,35,21422
612,IP_E4SHLClorhNg4o5bw9Q,2220 Walnut St,Rosy's Taco Bar,19103,4.0,First visit to Rosy's - solid. My husband and ...,28,15,21338

###### 3. Negative

In [11]:
# Rank reviews for each business based on the value of useful
negative_review['useful_rank'] = negative_review.groupby('business_id')['useful'].rank(ascending=False, method='min')
negative_review['negative_review_count'] = negative_review.groupby('business_id')['review_id'].transform('count')
negative_review['useful_negative_review_count'] = negative_review.groupby('business_id')['useful'].transform(lambda x: (x > 0).sum())
print(negative_review.shape)

negative_review = negative_review[negative_review['useful_rank'] <= 20]
print(negative_review.shape)

# Group by 'business_id' and aggregate other columns using 'first()'
grouped_negative_df = negative_review.groupby('business_id').agg({
    'address': 'first',
    'name': 'first',
    'postal_code': 'first',
    'stars': 'first',
    'text': lambda x: ' '.join(x),  # Aggregating the 'text' column as before
    'negative_review_count': 'first',
    'useful_negative_review_count': 'first'
}).reset_index()

grouped_negative_df['text_length'] = grouped_negative_df['text'].apply(len)
grouped_negative_df = grouped_negative_df.sort_values('text_length', ascending = False)
print(grouped_negative_df.shape)
grouped_negative_df.head(30)

(22146, 14)
(20747, 14)
(2145, 9)

,business_id,address,name,postal_code,stars,text,negative_review_count,useful_negative_review_count,text_length
989,S0dQ8Vks0IR-PZPLoBHKRA,1 S Broad St,McCormick & Schmick's Seafood & Steaks,19107,2.5,"***Restaurant Week 2019***\n\nWell, let's just...",56,17,48921
47,0RuvlgTnKFbX3IK0ZOOocA,212 S 13th St,Green Eggs Café,19107,4.0,If I could give ZERO STARS OR NEGATIVE STARS I...,79,19,45362
1932,t3PkHzVTvPA8qRxKe9TIkQ,5021 Baltimore Ave,Booker's Restaurant and Bar,19143,3.5,What a letdown.\n\nOn my neverending quest to ...,40,18,40128
1426,eaDZlSuVS0EY67Ke6pRP6Q,117 N 10th St,Penang,19107,3.5,"Apps were great, noodles were not, and the roa...",61,12,38421
1494,gOrJeoLDOiW7muWuoE-sMg,221 N Columbus Blvd,Morgan's Pier,19123,3.0,Finally was able to get a seat here again. I r...,61,43,37983
730,JrG4NINLspXPNhSXg7Q07Q,1253 N Front St,Front Street Cafe,19122,4.0,Meh! Perhaps it was just a tough day for the ...,50,19,37287
128,2f3YghoMYzd5-GFMh_kvwQ,225 S Broad St,Del Frisco's Grille,19107,3.5,I had such high hopes for this restaurant ... ...,45,17,36639
875,OChSrnaj5tQ1-wm7zoVT4w,1901 Callowhill St,Gyu-Kaku Japanese BBQ,19130,3.5,Don't go here.\n\nThe employees are completely...,47,10,34969
523,DhZVpgeBKxoLd91MiwTxpg,1701 Spruce St,La Fontana Della Citta,19103,3.0,"If I could, I would give this place -5 stars. ...",35,17,33564
1586,iksVwRfpWymIUUFqw0tXpw,146 N 10th St,Chubby Cattle,19107,4.5,FYI: Put your name down on the iPad by the fro...,50,16,32780
1926,sb8-TzsXOV7IsErbpHZo3g,"212 Walnut St, Fl 2",Positano Coast by Aldo Lamberti,19106,3.5,I've came here a few times and each time has j...,46,32,32727
388,AGlh4ZDv6jnoiYfz7At9mw,1020 Race St,Dim Sum Garden,19107,4.0,"Being that it's 2019, I've gotten used to the ...",134,53,32607
1827,pgri9CUZXGy9hi6UMMQR6A,3611 Walnut St,Louie Louie,19104,4.0,tl;dr a chic Parisian bistro with impressive d...,38,16,32457
1358,cOXc8c85Ms6dMEAJazLXHQ,1310 Drury St,McGillin's Olde Ale House,19107,4.0,"Last night (07/12/2019), the oldest pub in the...",48,12,32456
1657,kZ1q0K13tFYG_ZJrVvsJHA,124 S 13th St,Sampan,19107,4.0,"2.5 stars for food, 1 star for service. The se...",42,15,31212
768,KscVqYYG7ziAroZhfNb0Ng,600 N Broad St,South,19130,4.0,2.5\nSighs in all my dramticness- yupp just ma...,28,14,31076
257,6ajnOk0GcY9xbb5Ocaw8Gw,110 S 13th St,Barbuzzo,19107,4.5,"Wonderful food, Great staff, however they also...",46,14,30257
1699,lZX5_8qspEXtMJGFQ0-Mow,"1201 Market Street, (guest entrance at 1200 Fi...",Philadelphia Marriott Downtown,19107,3.0,I had a really disappointing experience here. ...,40,9,30245
1629,jkGQQ4_LgJx3hwPtCFkzbQ,1500 Walnut St,Max Brenner - Philadelphia,19102,3.5,What a HORRIBLE experience. I'm not sure if it...,46,13,30190
1760,nYeTVhBwwF5aCGYo9-aLGw,4000 City Ave,TGI Fridays,19131,2.0,Absolutely disgusting attitudes and service. I...,61,15,30074
2131,zfn7V7FVH5_J5A9dInfbnA,1138 Pine St,Pinefish,19107,3.5,I am shocked and betrayed from all of amazing ...,29,12,30013
766,KrKQChZ1hwHHVaUK9Zc-Ag,1150 Market St,Iron Hill Brewery & Restaurant,19107,4.0,Iron Hill Brewery is a brewery before it's a r...,42,7,29676
2138,zssISv4ZdplRT_Zcw8drPQ,1080 N Delaware Ave,Golf & Social,19125,2.0,I wish I could give 0 stars. If you've done br...,58,32,29565
54,0bvtIbpsqBJZpRKSPwIfNw,14 N Front St,Panorama,19106,4.0,I haven't had a bad meal in Philly since.. it'...,29,18,29451
1689,lKU_kljhbEQKIPaM1Zbqiw,1234 Locust St,Little Nonna's,19107,4.0,"I rarely am treated to poor service, so my exp...",39,7,28839
1292,aUoMG97DMJG4nmwhT6z1zA,225 S 18th St,Devon Seafood Grill,19103,3.5,"Honestly, Devon USED to be amazing! But the ye...",48,14,28557
2002,vUrTGX_7HxqeoQ_6QCVz6g,1528 Frankford Ave,Suraya,19125,4.5,This review is really on their management styl...,46,19,27990
1150,WxB8498ejPtHE7wFa89_fA,1801 Chestnut St,The Continental Mid-town,19103,3.5,"Was dragged here by a rich coworker who ""just ...",51,18,27917
352,9PZxjhTIU7OgPIzuGi89Ew,121 S 13th St,El Vez,19107,4.0,Funky and fun vibe in the 4th stop of the Star...,49,9,27758
690,Ipkx4Sa7ybn8C6LtTqTztw,120 S 13th St,Double Knot,19107,4.5,I was looking forward to coming here with my 2...,33,19,27542

## 4. Group reviews by business_id and perform summarization

In [12]:
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.lex_rank import LexRankSummarizer
from sumy.summarizers.text_rank import TextRankSummarizer
from sumy.summarizers.lsa import LsaSummarizer
from sumy.summarizers.kl import KLSummarizer
from sumy.summarizers.luhn import LuhnSummarizer

In [13]:
def LexRank_summary(text):
    NUM_SENTS = 2
    summary = str()

    parser = PlaintextParser.from_string(text, Tokenizer("english"))
    summarizer = LexRankSummarizer()

    sentences = summarizer(parser.document, NUM_SENTS)  # Summarize the document with 2 sentences
    for sentence in sentences:
        summary += (sentence.__unicode__()+ ' ')


    return summary

# Apply the generate_summary function to each row in the DataFrame
grouped_positive_df['positive_summarization'] = grouped_positive_df['text'].apply(LexRank_summary)
grouped_neutral_df['neutral_summarization'] = grouped_neutral_df['text'].apply(LexRank_summary)
grouped_negative_df['negative_summarization'] = grouped_negative_df['text'].apply(LexRank_summary)

# Display the DataFrame with the new "summarization" column
grouped_positive_df.head()

,business_id,address,name,postal_code,stars,text,positive_review_count,useful_positive_review_count,text_length,positive_summarization
265,6_T2xzR74JqGCTPefAD8Tw,723 Chestnut St,Morimoto,19106,4.5,It's good to see that a place like Morimoto is...,170,82,48393,This was my first omakase experience and Morim...
2057,u0Bt7uvvj7LAjAdiMtrhug,1301 N Howard St,Laser Wolf,19122,4.5,@nommingnomad approved.\n\nWhen I heard that M...,121,75,46371,"Overall, go try laser wolf, it's pretty good i..."
41,05ev984NYfimRN0UiFrxaA,640 N Broad St,Osteria,19130,4.0,If you're looking for possibly the best happy ...,144,52,45081,This was some of the best pasta I had had in a...
750,Jg9kkOl4sx2AXJVohbpSiw,1140 S 9th St,South Philly Barbacoa,19147,4.5,"As an avid fan of food documentaries, South Ph...",298,129,43104,If you haven't watched the Chef's Table episod...
2148,wUnLSg_GKfEIQ5CQQ770_g,1312 Spruce St,Vetri Cucina,19107,4.5,Vetri has been on the list for a while. I am g...,75,42,43078,I love a good tasting menu and the best part a...

## 5. Combine Positive, Neutral, and Negative for each business

In [14]:
merged_df = pd.merge(grouped_positive_df[['business_id', 'positive_review_count', 'useful_positive_review_count', 'positive_summarization']],
                     grouped_neutral_df[['business_id','neutral_review_count','useful_neutral_review_count','neutral_summarization']],
                     on='business_id',
                     how='outer')

merged_df = pd.merge(merged_df, 
                     grouped_negative_df[['business_id','negative_review_count','useful_negative_review_count','negative_summarization']], 
                     on='business_id', 
                     how='outer')
merged_df.head()

,business_id,positive_review_count,useful_positive_review_count,positive_summarization,neutral_review_count,useful_neutral_review_count,neutral_summarization,negative_review_count,useful_negative_review_count,negative_summarization
0,6_T2xzR74JqGCTPefAD8Tw,170.0,82.0,This was my first omakase experience and Morim...,33.0,14.0,BUT. It's was good.,19.0,5.0,It felt it took hours for courses to come and ...
1,u0Bt7uvvj7LAjAdiMtrhug,121.0,75.0,"Overall, go try laser wolf, it's pretty good i...",16.0,14.0,"Spectacular service, great drinks -- had a mix...",12.0,8.0,I don't know if it's covid but it was only 9:4...
2,05ev984NYfimRN0UiFrxaA,144.0,52.0,This was some of the best pasta I had had in a...,20.0,5.0,"They have a great happy hour, with a nice spre...",21.0,9.0,Overall the Restaurant is overpriced for the q...
3,Jg9kkOl4sx2AXJVohbpSiw,298.0,129.0,If you haven't watched the Chef's Table episod...,27.0,9.0,"I was there like a month ago, and yesterday, t...",18.0,8.0,"Overall, it wasn't bad but i've definitely exp..."
4,wUnLSg_GKfEIQ5CQQ770_g,75.0,42.0,I love a good tasting menu and the best part a...,6.0,6.0,"As a result, I would not return- at least not ...",4.0,3.0,We had dinner last night and the first disappo...

In [15]:
merged_df['positive_summarization'].fillna('Sorry, this business has no positive reviews', inplace=True)
merged_df['neutral_summarization'].fillna('Sorry, this business has no neutral reviews', inplace=True)
merged_df['negative_summarization'].fillna('Sorry, this business has no negative reviews', inplace=True)
merged_df.fillna(0, inplace=True)

## 6. Evaluation using Sentiment Analysis

In [16]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [17]:
sent_analyzer = SentimentIntensityAnalyzer()

In [18]:
eva_df = merged_df.copy()

In [19]:
eva_df['pos_analyzer'] = eva_df['positive_summarization'].apply(lambda x: sent_analyzer.polarity_scores(x)['compound'])
eva_df['pos_analyzer'].mean()

0.724221704745167

In [20]:
eva_df['neu_analyzer'] = eva_df['neutral_summarization'].apply(lambda x: sent_analyzer.polarity_scores(x)['compound'])
eva_df['neu_analyzer'].mean()

0.23487051845342705

In [21]:
eva_df['neg_analyzer'] = eva_df['negative_summarization'].apply(lambda x: sent_analyzer.polarity_scores(x)['compound'])
eva_df['neg_analyzer'].mean()

-0.07777341827768013

In [ ]:
eva_df.head()

,business_id,positive_review_count,useful_positive_review_count,positive_summarization,neutral_review_count,useful_neutral_review_count,neutral_summarization,negative_review_count,useful_negative_review_count,negative_summarization,pos_analyzer,neu_analyzer,neg_analyzer
0,6_T2xzR74JqGCTPefAD8Tw,170.0,82.0,This was my first omakase experience and Morim...,33.0,14.0,BUT. It's was good.,19.0,5.0,It felt it took hours for courses to come and ...,0.2732,0.5927,-0.3805
1,u0Bt7uvvj7LAjAdiMtrhug,121.0,75.0,"Overall, go try laser wolf, it's pretty good i...",16.0,14.0,"Spectacular service, great drinks -- had a mix...",12.0,8.0,I don't know if it's covid but it was only 9:4...,0.8516,0.8402,0.6310
2,05ev984NYfimRN0UiFrxaA,144.0,52.0,This was some of the best pasta I had had in a...,20.0,5.0,"They have a great happy hour, with a nice spre...",21.0,9.0,Overall the Restaurant is overpriced for the q...,0.9097,0.7351,0.7400
3,Jg9kkOl4sx2AXJVohbpSiw,298.0,129.0,If you haven't watched the Chef's Table episod...,27.0,9.0,"I was there like a month ago, and yesterday, t...",18.0,8.0,"Overall, it wasn't bad but i've definitely exp...",0.9246,-0.6796,0.9255
4,wUnLSg_GKfEIQ5CQQ770_g,75.0,42.0,I love a good tasting menu and the best part a...,6.0,6.0,"As a result, I would not return- at least not ...",4.0,3.0,We had dinner last night and the first disappo...,0.9213,0.2011,-0.6077